<br>
<br>

<div class="text-center text-yellow-800 font-bold text-2xl">Our Services</div><br>
<div id="carouselExampleCaptions" class=" carousel slide relative " data-bs-ride="carousel">
  <div class="container-fluid carousel-inner relative  overflow-hidden">
    <div class=" carousel-item active relative float-left w-full">
      <div class="w-1/4 flex-col float-left  p-2 ">
        <div class=" ">
          <img
        src="{{photoGallery.[1].image.url}}"
        class="block w-full "
        alt="..."
      />
        </div>
        <div class="carousel-caption md:block text-black ml-20 ">
          <h5 class="text-xl">Artificial Intelligence</h5>
        </div>
      </div>
      <div class="w-1/4 flex-col float-left  p-2 ">
        <div class="  ">
          <img
        src="{{photoGallery.[2].image.url}}"
        class="block w-full "
        alt="..."
      />
        </div>
        <div class="carousel-caption md:block text-black ml-20 ">
          <h5 class="text-xl">Cloud</h5>
        </div>
      </div>
      <div class="w-1/4 flex-col float-left  p-2 ">
        <div class="  ">
         <img
        src="{{photoGallery.[3].image.url}}"
        class="block w-full "
        alt="..."
      />
        </div>
        <div class="carousel-caption md:block text-black ml-20">
          <h5 class="text-xl">Cyber Security</h5>
        </div>
      </div>
      <div class="w-1/4 flex-col float-left  p-2 ">
         <img
        src="{{photoGallery.[4].image.url}}"
        class="block w-full "
        alt="..."
      />
        <div class="carousel-caption md:block text-black ml-20">
          <h5 class="text-xl">Digital Operations and Platform</h5>
        </div>
      </div>
    </div>

    <div class="carousel-item relative float-left w-full">

      <div class="w-1/4 flex-col float-left  p-2 ">
        <div class="  ">
         <img
        src="{{photoGallery.[5].image.url}}"
        class="block w-full "
        alt="..."
      />
        </div>
        <div class="carousel-caption md:block text-black ml-20">
          <h5 class="text-xl">Design & Development</h5>
        </div>
      </div>

      <div class="w-1/4 flex-col float-left  p-2 ">
        <div class="  ">
         <img
        src="{{photoGallery.[6].image.url}}"
        class="block w-full "
        alt="..."
      />
        </div>
        <div class="carousel-caption md:block text-black ml-20 ">
          <h5 class="text-xl">Data Analytics</h5>
        </div>
      </div>

      <div class="w-1/4 flex-col float-left  p-2 ">
        <div class="  ">
       <img
        src="{{photoGallery.[7].image.url}}"
        class="block w-full "
        alt="..."
      />
        </div>
        <div class="carousel-caption md:block text-black ml-20">
          <h5 class="text-xl">Consulting</h5>
        </div>
      </div>
    </div>

  </div>

  <button
    class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-start p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
    type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon inline-block bg-no-repeat bg-black" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class=" carousel-control-next absolute top-0 bottom-0 flex items-center justify-end p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
    type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon inline-block bg-no-repeat bg-black" aria-hidden="true"></span>
    <span class="visually-hidden ">Next</span>
  </button>
</div>