   <div ">
                <div class=" float-left mr-8 ml-4">
                    <img class="hover:grow hover:shadow-lg transform hover:scale-110 motion-reduce:transform-none h-56 w-auto "
                        src="{{photoGallery.[0].image.url}}">
                </div>
                <div class=" text-xl text-dark  ">
                    <b>{{name}}</b>
                </div>
                <div class="mt-4"> {{description}}</div>
            </div>
            {{!-- <div class="float-left">
                     <img class="h-56 w-auto" src="{{photoGallery.[0].image.url}}">
                   </div>
                   
       <div class="pb-5 ml-6">
         <h1 class="font-bold">{{name}}</h1> 
        </div>
                  <div >Description: {{description}}</div>
                  </div> --}}

                  